<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <title>无可奉告</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='mdui.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='icon.png') }}">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='icon.png') }}">
    {% block head %} {% endblock %}
</head>
<body class="mdui-appbar-with-toolbar mdui-theme-primary-grey mdui-theme-accent-indigo">

<header class="mdui-appbar mdui-appbar-fixed">
    <div class="mdui-toolbar mdui-color-theme-50">
        <img class="mdui-hoverable" style="height: 90%" src="{{ url_for('static', filename='icon.png') }}" onclick="window.location.replace('/')">
        <div class="mdui-typo-headline" onclick="window.location.replace('/')">无可奉告</div>
        <div class="mdui-toolbar-spacer"></div>
        <a href="/code" class="mdui-btn mdui-ripple">社区规范</a>
    </div>
</header>

<div class="mdui-container doc-container doc-no-cover">
    {% block content %}{% endblock %}
</div>

<footer>
    <div class="mdui-typo" align="center">
        <h5><small>
            Copyright © 2020 Wukefenggao All rights reserved. <br/>
            Android 机器人是在 Google 原创及共享成果的基础上再创作或修改而成，须遵照知识共享署名 3.0 许可所述条款付诸应用。
        </small></h5>
    </div>
    <div align="center" style="vertical-align: center">
        <div style="display: inline-block" class="mdui-typo">
            <h6><small>
                <a href='https://beian.miit.gov.cn' target="_blank" class='url mdui-text-color-grey'>蜀 icp 备 2020031616号</a>
            </small></h6>
        </div>
        <div style="display: inline-block;">
            <img src="{{ url_for('static', filename='ga_beian.png') }}" >
        </div>
        <div style="display: inline-block" class="mdui-typo">
            <h6><small>
                <a href='http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=51012402000541' class='url mdui-text-color-grey'>川公网安备 51012402000541号</a>
            </small></h6>
        </div>
    </div>
</footer>

<script src="{{ url_for('static', filename='jquery-3.4.0.min.js') }}"></script>

<script src="{{ url_for('static', filename='mdui.js') }}"></script>

{% block scr %}{% endblock %}

</body>
</html>
