{% extends "base.html" %}

{% block content %}

    <div class="mdui-typo">
        <h1 class="mdui-text-color-grey-700">社区规范</h1>

        <p>欢迎来到「无可奉告」。为了所有参与者都能够愉快的使用这个平台，我们需要花一些时间设定一些规则。</p>
        <p>以下是规范的制定准则。请注意它们不构成规范的解释，不能代替规范正文。</p>
        <h4>你的义务</h4>
        <ul>
            <li>请做一个友善的人，尊重其他人的观点，即使ta与你相异;</li>
            <li>请不要发布令人感到不适或者违反法律法规的内容，比如(但不限于)侮辱、诽谤他人、侵犯他人隐私、色情的内容。</li>
            <li>在参与讨论时，请与我们共同维护社区的 &quot;存在&quot;。比如，对于不宜讨论、组织的内容与活动，讨论时加以适当的节制。</li>

        </ul>
        <h4>你的权利</h4>
        <ul>
            <li>你可以享受社区的所有功能，并参与它的维护; 你可以举报其他人的发帖，如果你认为它违反了规范。</li>
            <li>如果你的发帖被删除，你有权知晓背后的具体原因。</li>

        </ul>
        <p>生效日期：2020年12月4日</p>
        <h4>一、管理主体和适用法律</h4>
        <p>「无可奉告」团队成立发展运营组，承担匿名论坛管理具体职责，依据本规范对论坛进行管理。</p>
        <p>本社区面向用户为与上海交通大学相关的个人，例如学生、校友等。本社区适用法律为《中华人民共和国宪法》及地区法律法规。</p>
        <h4>二、定义</h4>
        <ol start='' >
            <li>&quot;用户&quot; 指使用该社区任何功能的个人;</li>
            <li>&quot;内容&quot; 指用户在使用社区功能的过程中上传、发布的任何内容，包括但不限于文字、链接、媒体等;</li>
            <li>&quot;账户&quot; 指一组具有访问社区权限的身份信息，它可以由一个邮箱地址(email)、加密后的邮箱哈希值(email_hash)、唯一识别符 (user_token)等信息组成;</li>
            <li>&quot;邮箱哈希值&quot; 指通过单向加密的密码学手段对用户邮箱地址加密后的邮箱密文。</li>

        </ol>
        <h4>三、内容版权与责任</h4>
        <p>用户使用社区并上传任何信息时，即确认其享有所发布内容的版权 (比如原创)，或者使用内容属于教育、科学研究、评论与报道等 &quot;合理使用&quot; 的范畴。如果用户享有内容的版权，即永久授权社区对其的发布与传播。</p>
        <p>用户对在社区上发表的内容、言论承担一切法律责任。</p>
        <h4>四、账户责任</h4>
        <ol start='' >
            <li>社区的账户仅供本人使用。账户的创立需要经过(一)所规定的符合条件个人的验证。不满足使用条件的用户账户将被停用。</li>
            <li>社区一旦发现账户被多人使用，即有权无条件立即停用该账号。</li>
            <li>社区有权以任何理由拒绝向用户提供服务。</li>

        </ol>
        <h4>五、禁止的内容</h4>
        <p>以下内容不得在社区上传、传播，否则将被处理隐藏或删除，发布者将根据第(六)条处罚:</p>
        <ol start='' >
            <li><p>违反《中华人民共和国宪法》等(一)中规定的法律法规的内容;</p>
            </li>
            <li><p><strong>侮辱或诽谤他人或特定群体的内容</strong>，例如: 煽动民族矛盾、地域歧视、<strong>对个人进行侮辱性语言攻击</strong>;</p>
                <ol start='' >
                    <li>解释2.1 - &quot;他人或特定群体&quot; 包括特定个人 (全名或缩写, 无论是否为公众人物)、机构、或抽象事物 (如特定的制度、规定、校园网等)；</li>
                    <li>解释2.2 -<strong>平台不接受藏在匿名背后 &quot;无脑喷&quot; 他人或群体</strong>，即不得无理、无证据支持地发表侮辱性、诋毁性意见 (e.g. &quot;xx教务是sb&quot;)。<strong>有理有据的批评、质疑、吐槽、抱怨是被允许且鼓励的</strong>（e.g. &quot;xx机构总是说不清楚要什么材料，害了我跑好几趟，真是无语&quot;）。即使有理有据，我们建议使用文明的词汇，己所不欲，勿施于人。</li>
                    <li>解释2.3 - 诽谤的定义。如果用户在平台上的发布内容受到当事人的异议，根据司法院释字第509号解释，如果用户不进一步自证其内容真实性，平台将删除用户的发布内容并对其账号进行封禁。我们鼓励有可信度的批评与质疑，也尊重每一位用户的名誉权。对明确表示或暗示的虚假事实，可能给个人、企业、产品、团体、政府或民族负面形象的“与事实不符”的宣称，平台将删除其内容。</li>

                </ol>
            </li>
            <li><p><strong>侵犯他人隐私的内容</strong>，例如: 未经许可暴露他人具体姓名、个人信息、联系方式;</p>
                <ol start='' >
                    <li>解释3.1 - 拼音缩写不在此限，除非由当事人提出异议;</li>
                    <li>解释3.2 - 对公众人物的公开信息，如新闻报道、公众号文章等的讨论，不在此限，除非由当事人提出异议;</li>

                </ol>
            </li>
            <li><p><strong>侵犯他人知识产权、商业机密</strong>的内容;</p>
            </li>
            <li><p><em>预留</em></p>
            </li>
            <li><p>散布谣言和恐慌，可能会误导他人的内容;</p>
                <ol start='' >
                    <li>解释6.1 - &quot;可能误导他人&quot; 定义为无权威来源、表述不含有 &quot;可能&quot; &quot;听说&quot; 等类似限定词的可能具有公众影响的内容（e.g. 张三同学生活作风不检点，我听说他劈腿过）;</li>
                    <li>解释6.2 - 经过任何官方媒体、机构辟谣的内容，应当附有辟谣信息; 对于辟谣信息本身的讨论不受此条限制;</li>

                </ol>
            </li>
            <li><p><strong>鼓励、教唆他人实施违法犯罪、暴力、非法集会</strong>的内容;</p>
                <ol start='' >
                    <li>解释7.1 - &quot;违法犯罪&quot; 在此的定义为违反发帖者、浏览者任何一方的所在地 (不限中国境内) 的法律所规定的禁止、限制行为;</li>

                </ol>
            </li>
            <li><p>含有任何<strong>淫秽、色情、性暗示、不当暴露</strong>的内容;</p>
                <ol start='' >
                    <li>解释8.1 - 任何直接暴露性器官的或直接展示性行为的内容是严厉禁止的;</li>
                    <li>解释8.2 - 对于生理现象的学术性、教育性质的讨论不在此条限制内;</li>
                    <li>解释8.3 - 对于用户在讨论本条内容中出现的自觉提供、分享个人信息的行为，平台有权(但无必须义务)在发布后删除;</li>
                    <li>解释8.4 -<strong>对于在此条范围内提供非本人个人信息的行为，处罚为永久封禁，同时本平台有权将与此条相关的侵犯他人隐私的发布者移交公安机关。</strong></li>

                </ol>
            </li>
            <li><p>含有隐喻、容易引起歧义的缩写、代名词、特定表述等对于政治等敏感问题进行引导、讨论</p>
                <ol start='' >
                    <li>解释9.1 - 用户应当使用个人常识来判断所发布的内容是否属于此范畴。 我们建议: 如果你发布的内容被封了会成为苏联政治笑话, 就不要发它了;</li>
                    <li>解释9.2 - 对于通常历史、文化、经济、政治问题的学术性、教育性讨论是被允许的. 我们不提倡自我审查, 但我们相信心智成熟的用户能够区分 &quot;学术性讨论&quot; 与 &quot;冲塔&quot; 的区别;</li>
                    <li>解释9.3 - 管理团队有权对5.9.2范畴内出现违反其他规则，特别是5.2 (侮辱), 5.6 (虚构事实), 5.7 的发帖更严格地处罚。为了讨论的合理、有序进行，建议用户举报 “带节奏” 的恶意用户。不要回应蛮不讲理的人。</li>

                </ol>
            </li>
            <li><p><em>预留</em></p>
            </li>
            <li><p><em>预留</em></p>
            </li>
            <li><p><em>预留</em></p>
            </li>
            <li><p>干扰社区正常运营，大量重复内容垃圾发帖等;</p>
            </li>

        </ol>
        <ul>
            <li>解释13.1 - &quot;大量&quot; 重复内容定义为任意48小时内超过6条的内容; 发帖者无需为同一用户。</li>

        </ul>
        <ol start='14' >
            <li>引起他人不适的内容。&quot;引起他人不适&quot; 定义为<strong>经过社区用户大量举报</strong>的内容。</li>
            <li>经本人要求删除涉及个人隐私、过多细节或对本人生活造成不良影响的本人发帖。</li>

        </ol>
        <h4>六、删帖处罚</h4>
        <ol start='' >
            <li>若用户发表的内容根据(五)而被删除，禁言至次月1号解封。</li>
            <li>在禁言期间有另一内容被删除，禁言时间不叠加。</li>
            <li>用户被处罚后，有权获取具体的处罚信息，包括决定的依据、处罚时间。</li>
            <li>累计封禁次数在每年的1月1日清零。</li>
            <li>管理团队有权对任何处罚进行调整。</li>

        </ol>
        <h4>七、举报与申诉</h4>
        <ol start='' >
            <li>用户在使用过程中如发现违反本规范中所述的行为，可通过「无可奉告」内的举报按钮或通过邮箱（<a href='mailto:sjtuwkfg@163.com' target='_blank' class='url'>sjtuwkfg@163.com</a>）联系发展运营组进行举报。</li>
            <li>用户账户受到处理后，将自动收到系统发来的违规情况说明。用户被封禁后在封禁期满前有权通过邮箱联系发展运营组书面提出申诉。</li>

        </ol>
        <h4>八、发帖与回帖准则</h4>
        <ol start='' >
            <li><p>我们希望本社区建立为一个友善而合理讨论的社区，因此本社区<strong>禁止在任何情况下言语攻击他人</strong>(e.g. &quot;楼主sb&quot;)。请理性地回应观点而不要攻击发表观点的人，违规按5.2处理。</p>
            </li>
            <li><p>不鼓励 &quot;歪楼&quot; 即<strong>偏题、带节奏</strong>行为。不鼓励将一个话题的讨论过度放大至信仰、理念、群体层面，即 &quot;不当概化&quot; (hasty generalization) 或以偏概全。捏造事实者按5.6处理，攻击群体按5.2处理，暴露无关的隐私信息按照5.3处理。</p>
            </li>
            <li><p>本社区不鼓励<strong>任何形式的商业广告或带有盈利性目的</strong>的内容，比如培训机构，各种软件等; 任何形式的校内<strong>公益资源</strong>(包括但不限于床位、免费票、学生证) 的<strong>有偿转让</strong>信息。社区有权利对于违反本条的用户进行封禁处理。</p>
                <ol start='' >
                    <li>解释3.1 -<strong>发布商业广告者的处罚可以提高至永久封禁;</strong></li>
                    <li>解释3.2 - 非盈利性的广告，如校内社团的宣传等，是被允许的;</li>

                </ol>
            </li>
            <li><p>对于违反社区规定的发帖，我们可能会进行删除处理（参见第五、六条）</p>
            </li>

        </ol>
        <h4>九、技术性限制</h4>
        <ol start='' >
            <li>管理团队为了保护社区软件平台的合理运行，有权对于行为异常的用户的账号加以技术性限制，包括但不限于限制某些功能的访问。</li>
            <li>用户禁止未经允许，对社区平台进行漏洞扫描、流量攻击、压力测试等可能会对社区平台造成破坏、数据损失、隐私泄露的操作。</li>
            <li>不得使用「无可奉告」安卓版以及ios版以外的客户端、脚本等访问方式，未经「无可奉告」团队明确许可，访问「无可奉告」的相关服务、下载「无可奉告」服务提供的相关内容；违者造成恶劣影响的，「无可奉告」团队有权调查、封禁传播人账户，并追究法律责任。</li>

        </ol>
        <h4>十、个人隐私</h4>
        <ol start='' >
            <li><strong>本社区不鼓励将社区内容传播至社区用户之外的群体</strong>，以保护其他用户的隐私和内容版权。社区有权利对于违反本条并造成公众影响或对他人权益造成侵害的用户进行封禁处理。这里的 &quot;内容&quot; 包括全体用户创作的内容、社区公示栏等任何可能含有其他用户信息的内容。</li>
            <li>为了社区系统的正常运营，我们可能会收集您的个人信息。这些信息由您提供或您的操作系统和浏览器产生，并传输到社区的服务器上，包括但不限于: 您的邮箱地址、操作系统版本、设备账号、IP地址等; 我们会妥善保管您的个人信息，不向任何个人或机构有偿提供您的信息。<strong>我们不会将您的信息用于盈利。</strong></li>
            <li>为了判定评论名称、管理关注列表、删帖封禁等用途，您所发送的匿名社区 (&quot;树洞&quot;) 的内容可能与您的账户相关联。<strong>您的个人信息在关联时是经过sha256单向加密的。</strong>除了具有服务器超级管理权限的管理人员有破解潜力外， 仅具有数据库访问权限的管理人员无法在合理的时间 (1万年) 内对应内容和账户，除非密码学出现重大崩溃。即便如此，<strong>我们无法防止用户本身选择在匿名社区发送个人信息的行为，因此建议您妥善保管个人信息并保护个人隐私。</strong></li>
            <li><strong>如果没有执法部门或其他政府机构的特殊保密要求，我们将公开所有向*</strong>*「无可奉告」<strong></strong>发展运营组请求查询用户注册邮箱明文的请求。**</li>

        </ol>
        <h4>十一、用户邮箱查询</h4>
        <p>「无可奉告」发展运营组未经用户允许，不主动尝试解密用户邮箱哈希值获取用户邮箱明文，但以下特定情形除外：</p>
        <ol start='' >
            <li>用户转让、出租、出售个人账户或者个人账户导致的个人信息泄露；</li>
            <li>为维护社会公共利益、校园安全稳定以及个人人身安全；</li>
            <li>根据相关法律法规或政策的要求。</li>

        </ol>
        <p>「无可奉告」发展运营组尝试解密用户邮箱哈希值需要经过半数以上管理员同意。</p>
        <h4>十二、法律冲突</h4>
        <p>本规范不构成对相关法律法规的任何有效修改，如有冲突，应以相关法律法规与制度文件为准。</p>
        <h4>十三、修订</h4>
        <p>本条例不定时修订。若本条例进行修订，修订信息将在社区内公示。在2021年1月1日后，公示期将至少提高至48小时。</p>
        <p>&nbsp;</p>
    </div>

{% endblock %}
